.comparteIdea{
    &__content {
        background: $color-white;
        height: 100%;

        &__miIdea__form {
            margin: 50px 150px 0 50px;
            &__titulo {
                width: 50%;
                & h1 {
                    font-size: 36px;
                    font-weight: bold;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $color-red ;
                }
            }
            &__text {
                & textarea {
                    font-size: 2em;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
                &__submit {
                    float: right;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    margin-right: -16px;
                    & p {
                        margin: 0;
                    }
                }
            }
        }

        &__listaIdeas {
            margin: 150px 134px 0 50px;
            padding: 50px;
            background-color: $color-black;

            &__content {
                margin-bottom: 50px;
                &__caja{
                    display: flex;
                    gap: 20px;
                    &__icono svg {
                        border-radius: 50%;
                        border: 1x solid grey;
                        padding: 15px;
                        margin-top: 5px;
                        color: $color-red;
                        background-color: $color-white;
                        font-size: 3.6em!important;
                    }
                    &__texto {
                        font-size: 1.6em;
                        background-color: $color-white;
                        padding: 15px;
                        font-weight: bold;
                    }
                }
                &__signature {
                    float: right;
                    margin-top: 10px;
                    color: $color-white;
                    font-size: 1.6em;
                }

            }

            &__verMas {
                float: right;
                color: $color-red;
                font-size: 1.6em;
                text-decoration: none;
                padding: 10px;
                &:hover {
                    background-color: $color-red;
                    color: $color-white;
                   
                }
            }
        }
    }
}
// Media query
@media (max-width: 500px) {
    .comparteIdea {
        &__content {
            &__miIdea__form {
                
                margin: 0;
                &__text{
                    width: 95vw;
                }
                
            }
            &__listaIdeas{
                margin: 150px 0;
                &__content__caja{
                    display: block;
                    text-align: center;
                    &__texto {
                        font-size: 1.4em;
                    }
                }
            }
            

        }
    }
}