.login {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $color-black;
    color: $color-white;
    &__content {
        &__titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            & h1 {
                font-weight: bold;
                font-size: 5em;
            }
            &__logo {
                width: 5em;
            }
        }

        &__form {
            &__input{
                font-size: 2em;
                text-align: end;
                display: grid;
                width: 350px;
                margin: 10px;
                & input {
                    background-color: $color-white;
                    color: $color-black;
                    padding: 8px 10px ;
                    border: none;
                }  
            }
            &__submit {
                float: right;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                & p {
                    margin: 0;
                }
            }
            
        }
    }
}

// Media query
@media (max-width: 568px) {
    .login{
        height: 100vh;
        &__content{
            &__titulo {
                font-size: 0.8rem;
                display: block;
                text-align: center;
            }
            &__form__input {
                width: auto;
            }
        }
    }
    
}
@media (max-width: 368px) {
    .login{
        &__content{
            &__form__input {
                font-size: 1.4rem;
            }
        }
    }
    
}