html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

$color-red: #fe6261;
$color-black: #333333;
$color-white: #efefef;

.app {
    display: grid;
    justify-items: center;
}

.btn-submit {
    background-color: $color-red;
    border: none;
    padding: 10px;
    font-size: 2em;
    color: $color-white;
    width: 50%;
    font-weight: bold;
}
.btn-submit:hover {
    color: $color-black;
}

@import './login/login';