.navbar {
    background-color: white;
    padding: 0;
    &__content {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        justify-content: center;
        align-items: center;
        height: 60px;
        &__logo {
            display: flex;
            align-items: center;
            padding: 5px;
            & img {
                width: 3em;
            }
            & h1 {
                font-size: 2em;
                font-weight: bold;
            }
        }
        &__nomUser {
            display: flex;
            background-color: $color-red;
            color: $color-white;
            margin: 5px 10px;
            font-size: 1.6rem;
            padding: 5px;

            &__menu {
                display: flex;
                &__wrapper {
                    position: fixed;
                    top: 0;
                    /* left: -100%;*/
                    right: -100%;
                    height: 100%;
                    width: 100%;
                    background: $color-black;
                    transition: all 0.6s ease-in-out;
                }
                &__btn{
                    top: 5px;
                    position: absolute;
                    z-index: 2;
                    right: 20px;
                    height: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 50%;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                &__btn span,
                &__btn:before,
                &__btn:after{
                      content: "";
                      position: absolute;
                      top: calc(50% - 1px);
                      left: 30%;
                      width: 40%;
                      border-bottom: 2px solid $color-white;
                      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
                  }
                &__btn:before{
                    transform: translateY(-8px);
                  }
                &__btn:after{
                    transform: translateY(8px);
                }
                &__close {
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    transition:  background-color 0.6s ease;
                }
                &__wrapper ul{
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    height: 90%;
                    transform: translate(-50%, -50%);
                    list-style: none;
                    text-align: center;

                    & li{
                        height: 10%;
                        margin: 15px 0;
                        & a{
                            text-decoration: none;
                            font-size: 30px;
                            font-weight: 500;
                            padding: 5px 30px;
                            color: $color-white;
                            border-radius: 50px;
                            position: absolute;
                            line-height: 50px;
                            margin: 5px 30px;
                            opacity: 0;
                            transition: all 0.3s ease;
                            transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);

                            transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
                            transform: translateX(100px);
                        }
                        & a:after{
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            transform: scaleY(0);
                            z-index: -1;
                            transition: transform 0.3s ease;
                        }
                        & a:hover:after{
                            transform: scaleY(1);
                        }
                        & a:hover{
                            color: $color-red;
                            text-decoration: underline;
                        }
                    }
                    
                  }
            }
        }
    }
}

/* Ocultar check box*/
input[type="checkbox"]{
    display: none;
}

/* Acciones del menu */
#active:checked ~ .navbar__content__nomUser__menu__wrapper{
    right:0;
}
#active:checked ~ .navbar__content__nomUser__menu__wrapper ul li a{
    opacity: 1;
  }
/* closing animation */
#active:checked + .navbar__content__nomUser__menu__btn span {
	transform: scaleX(0);
}
#active:checked + .navbar__content__nomUser__menu__btn:before {
	transform: rotate(45deg);
  border-color: $color-red;
}
#active:checked + .navbar__content__nomUser__menu__btn:after {
	transform: rotate(-45deg);
  border-color:  $color-red;
}

/* Media query */
@media (max-width: 765px) {
    .navbar__content {
        grid-template-columns: 1fr 1fr;
    }
    .navbar__content__nomUser__menu__wrapper ul{
        left: 0px;
    } 
}
@media (max-width: 500px) {
    .navbar__content {
        grid-template-columns: 1fr;
        height: auto;
        &__nomUser__menu__btn {
            top: 35px;
        }
    }
}
@media (max-width: 250px) {
    .navbar__content {
        &__nomUser{            
            font-size: 1.4rem;
        }
    }
}